<!DOCTYPE html>
<html>
  <head>
    <title>timeapp</title>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
      #timeapp p {
        font-size: 40px;
        font-family: "Oswald", sans-serif;
      }
    </style>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SMRK0QM1RP"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-SMRK0QM1RP");
    </script>
  </head>
  <body>
    <div id="timeapp"></div>
  </body>
</html>
